
body{
    border-radius: 20px;
    width: 70%;
    height: 600px;
    margin: 50px auto;
    background:linear-gradient(black, orange, black)
}
button:hover{
    color: orange;
    background-color: black;
}
h1{
    font-family: Creepster, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 50px;
    color: orange;
}
p{
    font-size: 24px;
    text-align: center;
    font-family: Creepster, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 30px;
    text-align: justify;
    line-height: 30px;
}
.box{
    text-align: center;
    display: grid;
    grid-row: 20px ;
    justify-items: center;
    grid-template-areas:
  "header header header"
  "advert content content"
  "advert footer footer";
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto auto ;
}